@import url(/css/reset.css);

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
;
}

.left-content, .right-content {
    flex: 1 1 0;
    height: 100%;
    color: #fff;
}

.right-content {
    background: url(/assets/read_news.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
}

.left-content {
    background-color: #121214;
    font-weight: 400;
    font-size: 14px;
    padding: 2%;
    box-sizing: border-box;
}

header img {
    width: 55%;
    margin-bottom: 4rem;
}

.box-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
h2 {
    color: green;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.box-content p {
    margin-top: .8rem;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.form-container label{
    font-weight: 700;
    font-size: 14px;
    line-height: 138.73%;
    color: #A8A8A8
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.email label {
    margin-bottom: .8rem;
}

.email input {
    z-index: 1;
    width: 120%;
    height: 48px;
    border-left: 10px #04D361 solid;
}

#about-txt {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 138.73%;
    color: #8257E5;
}

#about-txt a {
    text-decoration: none;
}
