@import url(/css/reset.css);
.right-content {
    background: url(/assets/read_news.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.left-content, .right-content {
    flex: 1 1 0;
    height: 100%;
    text-align: center;
    color: #fff;
}